<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home | Fatah Zango Foundation</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
  <header>
    <div class="my-nav">
      <div class="container">
        <div class="row">
          <div class="nav-items">
            <div  class="logo">
              <img src="/assets/images/logo.webp"> 
            </div>
            <div class="menu-toggle">
              <div class="menu-hamburger"></div>
            </div>
            <div class="menu-items">
              <div class="menu">
                <ul>
                  <li><a href="{{ '/' | relative_url }}">Home</a></li>
                  <li><a href="{{ '/about/' | relative_url }}">About Us</a></li>
                  <li><a href="{{ '/services/' | relative_url }}">Services</a></li>
                  <li><a href="{{ '/contactus/' | relative_url }}">Contact Us</a></li>
                  <li><a href="{{ '/blog/' | relative_url }}">Projects</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  
  <main>
    {{ content }}
  </main>
  

   <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="footer-content">
              <h2 style="color: #0b539c;">FATAH ZANGO FOUNDATION</h2>
              <p>Fatah Zango Foundation is a non-profit committed to holistic development. 
                From scholarships and vocational training to healthcare and community projects, 
                we create pathways for individuals to thrive, 
                driving inclusive growth and resilience in Nigerian communities.
              </p>
              <ul>
                <li><i class="fab fa-facebook-f"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-google"></i></li>
                <li><i class="fab fa-skype"></i></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="footer-content">
              <h2>Quick Links</h2>
              <ol>
                <li><a href="{{ '/' | relative_url }}"><i class="fal fa-angle-double-right"></i>Home</a></li>
                <li><a href="{{ '/about/' | relative_url }}"><i class="fal fa-angle-double-right"></i>About Us</a></li>
                <li><a href="{{ '/services/' | relative_url }}"><i class="fal fa-angle-double-right"></i>Services</a></li>
                <li><a href="{{ '/contactus/' | relative_url }}"><i class="fal fa-angle-double-right"></i>Contact Us</a></li>
                <li><a href="{{ '/blog/' | relative_url }}"><i class="fal fa-angle-double-right"></i>Projects</a></li>
              </ol>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="footer-content">
              <h2>Services</h2>
              <ol>
                <li><a href="{{ '/' | relative_url }}"><i class="fal fa-angle-double-right"></i>Home</a></li>
                <li><a href="{{ '/about/' | relative_url }}"><i class="fal fa-angle-double-right"></i>About Us</a></li>
                <li><a href="{{ '/services/' | relative_url }}"><i class="fal fa-angle-double-right"></i>Services</a></li>
                <li><a href="{{ '/contactus/' | relative_url }}"><i class="fal fa-angle-double-right"></i>Contact Us</a></li>
                <li><a href="{{ '/blog/' | relative_url }}"><i class="fal fa-angle-double-right"></i>Projects</a></li>
  
              </ol>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="footer-content">
              <h2>News Letters</h2>
              <p>Subscribe to Our Newsletter</p>
              <div class="form-group">
                <input class="form-control" role="" name="email" type="email" placeholder="Enter Your Email">
                <i class="fal fa-paper-plane"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copy-right">
        <div class="container">
          <div class="copy-right-card">
          <p>2025 @ All Rights Reserved Designed and developed by<a
              href="https://www.emts.ng">TJ Zango Technologies Nigeria LTD</a></p>
          </div>
        </div>
      </div>
    </footer>

    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.js"></script>
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    
    
    
</body>
</html>